#pageNF_Box{
    background-color: rgba(0, 0, 0, 0.382);
    color:rgb(201, 201, 201);
    width:fit-content;
    padding:20px;
    border-left:6px solid rgb(134, 9, 9);
}
#pageNF{
    font-family: monospace;
    font-size: 22px;
}
#goHomeBtn{
    border:1px solid gray;
    width:fit-content;
    padding:4px 8px;
    margin-top: 14px;
    font-size: 12px;
    transition: border-color .2s, color .2s;
}
#goHomeBtn:hover{
    color:rgb(0, 194, 0);
    border-color: rgb(0, 194, 0);
}